.background
    {  
        padding: 100px;
        height: 550px;
        background-color: black;
        background-image: url(./Aptech_Limited_Logo.png );
        background-size: cover;
        background-position: center;
    }
.jimg
    {
        border-radius: 50%;
    }
.row
    {
        margin-top: 100px;
        text-align: center;
    }